.App {
  width: 100%;
  height: 100vh;
  
}

.positionBomm{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coordenadas{
  margin-top: 10px;
}
